@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #DCDCDC;
  font-family: 'Montserrat', sans-serif;
}

.form-text {
  color: #007bff;
  font-size: 28px;
}

.alt-text {
  color: #696969;
  font-size: 28px;
}

.container-cr {
  justify-content: center;
}

.create-container {
  display: flex;
  flex-direction: column;
}

.create-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.history-view {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 25px 50px 25px 50px;
  box-sizing: border-box;
}

.history-image {
  height: 300px;
  width: 300px;
  padding: 25px;
}

.edit-image {
  height: 500px;
  width: 700px;
  padding: 25px;
}

.page-header {
  text-align: center;
}

.selected-entry {
  text-align: center;
}
