@import '~bootstrap/scss/bootstrap';

.create-container {
  display: flex;
  flex-direction: column;
}

.create-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 35%;
}

.history-view {
  display: flex;
}

.history-image {
  height: 200px;
  width: 200px;
}
